body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul a,
div a {
    text-decoration: none;
}

.container {
    min-width: 418px;
    padding-left: 31px;
    padding-right: 31px;
    margin-left: auto;
    margin-right: auto;
}

/*section {
    min-width: 418px;
}

footer {
    min-width: 418px;
}*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/*---Mobile---*/

header {
    width: 100%;
    position: absolute;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;

}

.main-logo {
    width: 80px;
    height: 100px;

    padding-top: 40px;
    background-color: transparent;    
    fill: white;
}

.navigation-list,
.contacts {
    display: none;
}

.mobile-menu {
    width: 40px;
    height: 40px;
    fill: white;
}

.mobile-open_btn {    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    padding-top: 40px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/*Hero*/

.hero {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 209px;
    padding-top: 208px;   
    background-image: url("./images/mobile_images/Slider_3@2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: left;
}

.hero-content .advert {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

 .underline {
    display: flex;
    align-items: center;
    margin-right: 20px;
    width: 60px;
    height: 1px;
    background-color: rgba(157, 164, 189, .6);
}

.hero-advert {
    margin-top: 0;
    margin-bottom: 0;
    color: rgba(157, 164, 189, .6);
    font-size: 11px;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: .1em;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
    font-family: "Raleway";
    font-size: 48px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: .05em;
}

.hero-description {
    margin-top: 0;
    margin-bottom: 0;
    color: #9DA4BD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: .02em;
}

/*About*/

.about-section {
    padding-top: 84px;
    padding-bottom: 84px;
    background-color: white;
}
.about-photo {
    display: none;
}

.about-start {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.about-start .about-logo {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 11px;
    font-weight: 60;
    line-height: 1.4;
    color: #303030;
}

.about-title {
    margin-top: 0;
    margin-bottom: 20px;
    color: #303030;
    font-family: 'Raleway';
    font-size: 28px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: .05em;
}

.about-pre {
    margin-top: 0;
    margin-bottom: 20px;
    color: #555555;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: .02em;
}

.about-main {
    margin-top: 0;
    margin-bottom: 40px;
    color: #555555;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: .02em;
}

.booking {
    width: 160px;
    height: 40px;
    color: #303030;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: .09em;
    border-radius: 25px;
    border: 1px solid #FF6C00;
    background-color: white;
    cursor: pointer;
}

.booking:hover,
.booking:active {
    background-color: #FF6C00;
    color: white;
}

/*Services and prices*/
.services {
    padding-top: 84px;
    padding-bottom: 84px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("./images/mobile_images/prices-bg.png");
    background-color: #111319;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.services-about {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 0;
}

.services-logo {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    color: rgba(157, 164, 189, .6);
    font-size: 11px;
    font-weight: 600;
    line-height: 1.4;
}

.services-title {
    margin-top: 0;
    margin-bottom: 40px;
    font-family: "Raleway";
    font-size: 40px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: .05em;
    color: white;
}

.services-list {
    width: 418px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);;
}

.services-item::before {
    content: '';
    width: 100%;
    height: 1px;
    background: rgba(157, 164, 189, 0.12);
    flex-grow: 1;
}

.services-item p:first-child {
    order: -1;
}

.services-item {
    display: flex;
    align-items: flex-end;
    gap: 4px;
    margin-bottom: 20px;
}

.services-item p {
    flex-shrink: 0; /*stretches element to its full lenght without shrinking*/
    margin-top: 0;
    margin-bottom: 0;
    color: #9DA4BD;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: .02em;
}


.services-booking {
    display: block;
    margin-top: 44px;
    margin-right: auto;
    margin-left: auto;
    width: 160px;
    height: 40px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: .09em;
    border-radius: 25px;
    border: 1px solid #FF6C00;
    color: white;
    background-color: transparent;
    cursor: pointer;
}

.services-booking:hover,
.services-booking:active {
    background-color: white;
    color: #303030;
}

/*Statistics*/
.statistics {
    padding-top: 84px;
    padding-bottom: 84px;
}

.statistics-about {
    margin-top: 0;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.statistics-logo {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 11px;
    font-weight: 600;
    line-height: 1.4;
    color: #303030;
    }

.statistics-title {
    margin-top: 0;
    font-family: "Raleway";
    color: #303030;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: .04em;
    }

.statistics-description {
    width: 418px;
    margin-top: 0;
    margin-bottom: 44px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: .02em;
    color: #555555;
}

.calculate-part {
    margin-right: auto;
}

.calculate {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.calculate-item {
    width: 193px;
    height: 133px;
    margin-bottom: 30px;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F7F7F7;
}

.calculate-item:nth-child(2n+1) {
    margin-right: 30px;
}

.calculate-item:nth-child(2) {
    margin-top: 35px;
}

.calculate-item:nth-child(3) {
    margin-top: -30px;
}

.calculate-item:last-child {
    margin-bottom: 0;
}

.calc-number {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.35;
    letter-spacing: .05em;
    color: #303030;
}

.calc-number .sup {
    position: absolute;
    top: 17px;
    color: #FF6C00;
    font-size: 16px;
    font-weight: 600;
}

.calc-descr {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 1.36;
    color: #303030;
}


/*Barbers*/
.barbers {
    padding-top: 84px;
    padding-bottom: 84px;
    background-color: #F7F7F7;
}

.barbers-about {
    display: flex;
    margin-top: 0;
    margin-bottom: 20px;
    align-items: center;
}

.barbers-logo {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    line-height: 1.4;
    color: #303030;
}

.barbers-title {
    margin-top: 0;
    margin-bottom: 44px;
    font-family: 'Raleway';
    font-size: 42px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: .05em;
    color: #303030;
}

.barbers-images_item {
    margin-bottom: 44px;
}

.barbers-images_item:last-child {
    margin-bottom: 0;
}

.barbers-images_descr {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.barbers-images_descr .name {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: .02em;
    color: #303030;
}

.barbers-images_descr .position {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: .02em;
    color: #FF6C00;
}

.media {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
}

.media li {
    margin-right: 10px;
}

.media-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: white;
}

.media-item:hover,
.media-item:active {
    fill:#FF6C00;
}

.media li:last-child {
    margin-right: 0;
}



.media-svg {
    width: 20px;
    height: 20px;
}

/*Samples*/

.samples {
    padding-top: 84px;
    padding-bottom: 84px;
}

.samples-about {
    display: flex;
    align-items: center;
    margin-bottom: 71px;
}

.samples-logo {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 11px;
    font-weight: 600;
    line-height: 1.4;
    color: #303030;
}

.samples-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.samples-list_item {
    margin-bottom: 30px;
}

.samples-list_item:last-child {
    margin-bottom: 0;
}


/*Footer*/

.book-part {
    padding-top: 84px;
    padding-bottom: -84px;
    background-color: #191C26;
}

.book-title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 44px;
    color: white;
    font-family: "Raleway";
    font-size: 42px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: .05em;
}

.book-label {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600px;
    line-height: 1.35;
    letter-spacing: .1em;
    color: rgba(157, 164, 189, .4);
}

.book-input {
    background-color: transparent;
    width: 100%;  
    border: none;
    border-bottom: 1px solid rgba(157, 164, 189, .4);  
    margin-bottom: 44px;
}

.book-input::placeholder {
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.35;
    letter-spacing: .1em;
    color: rgba(157, 164, 178, .4);
}

.book-input:hover,
.book-input:focus {
    color: white;
}

.book-message {
    padding-bottom: 23px;
    background-color: transparent;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(157, 164, 189, .4); 
}

.book-message::placeholder {
    padding-bottom: 0;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.35;
    letter-spacing: .1em;
    color: rgba(157, 164, 178, .4);
}

.book-button {
    display: block;
    margin-top: 44px;
    margin-bottom: 84px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #FF6C00;
    background-color: transparent;
    border-radius: 25px;
    width: 160px;
    height: 40px;
    color: white;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: .09em;
    cursor: pointer;
}

.book-button:hover,
.book-button:active {
    background-color: white;
    color: #303030;
}



.address-form {
    padding-top: 84px;
    padding-bottom: 84px;
    background-image: url("./images/mobile_images/contacts-img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-title {
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Raleway';
    font-size: 42px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: .05em;
    color: white;
}

.address-pin {
    width: 24px;
    height: 24px;
    margin-right: 20px;
    margin-bottom: 0;
    fill: #9DA4BD;
}

.address-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.address-item a {
    font-family: 'Open Sans';
    color: #9DA4BD;
    font-style: normal;
    letter-spacing: .02em;
    font-size: 18px;
}

.address-item .address {
    font-weight: 700;
    line-height: 1.67;
}

.address-item .phone {
    font-weight: 400;
    line-height: 1.67;
}

.address-item .email {
    text-decoration: underline;
    font-weight: 400;
    line-height: 1.67;
}

.address-item:last-child {
    margin-bottom: 44px;
}

.schedule-title {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-style: normal;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 1.3;
    color: white;
}

.schedule-title::before {
    content: '';
    display: inline-block;
    height: 1px;
    width: 60px;
    margin-right: 20px;
    background-color:rgba(157, 164, 189, .4);
}

.schedule-hours {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #9DA4BD; 
}


/*Footer*/
.footer {
    padding-top: 44px;
    padding-bottom: 44px;
    background-color: white;
}

.footer-items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

.footer-items_media a{
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: #303030;
}

.footer-items_media a:hover,
.footer-items_media a:focus {
    color:#FF6C00;
}

.footer-items_media:first-child {
    margin-right: 40px;
}

.footer-items::before {
    display: block;
    content: '';
    height: 1px;
    width: 60px;
    background-color: #303030;
    margin-right: 40px;
}

.footer-items_copyright {
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: #9DA4BD;
}


/*----------------TABLET------------------*/
@media screen and (min-width: 780px) {
    .container {
        width: 768px;
        padding-left: 39px;
        padding-right: 39px;
    }

    .mobile-menu,
    .mobile-open_btn {
        display: none;
    }

    .header {
        padding-top: 52px;
        padding-bottom: 52px;
        background-color: #b1a9a9;
    }

    /*.navigation {
        justify-content: center;
    }*/

    .navigation {
        display: flex;      
        justify-content: none;  
    }

    .nav {
        display: flex;
        align-items: center;
        margin-right: 45px;
    }

    .navigation-list {
        display: flex;
        gap: 20px;
    }

    .nav-item {
        margin-right: 10px;
    }

    .nav-item a {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.4;
        letter-spacing: 0.1em;
        color: #FFFFFF;
    }

    .header-booking {
        width: 161px;
        height: 40px;
        margin-bottom: 20px;
        border: 1px solid #FF6C00;
        border-radius: 25px;
        background-color: transparent;
        color: white;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.3;
        letter-spacing: .09em;
    }

    .contacts-item a {
        display: block;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.3;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .contacts {
        display: flex;
        flex-wrap: wrap;
        margin-right: 0;
        align-items: center;
        justify-content: center;
        padding-top: 40px;
    }

    .header-booking {
        display: block;
    }
    
    .main-logo {
        fill: black;  
        margin-right: 59px;
    }  

    /*HERO*/

    .hero {
        /*width: 574px;*/
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 239px;
        padding-top: 204px;   
        background-image: none;
        /*background-image: url("./images/tablet_images/slider1@2x.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;*/
        background-color: white;
    }
    
    .hero-content {
        background-image: url("./images/tablet_images/slider1@2x.jpg");
        padding-bottom: 239px;
        padding-top: 204px; 
        padding-left: 39px;
        padding-right: 39px;
        background-repeat: no-repeat;
        background-size: contain;
    
    }

    .hero-content .advert {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    
     .underline {
        display: flex;
        align-items: center;
        margin-right: 20px;
        width: 60px;
        height: 1px;
        background-color: rgba(157, 164, 189, .6);
    }
    
    .hero-advert {
        margin-top: 0;
        margin-bottom: 0;
        color: rgba(157, 164, 189, .6);
        font-size: 11px;
        font-weight: 600;
        line-height: 1.4;
        letter-spacing: .1em;
    }
    
    .hero-title {
        margin-top: 0;
        margin-bottom: 20px;
        color: white;
        font-family: "Raleway";
        font-size: 48px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: .05em;
    }
    
    .hero-description {
        margin-top: 0;
        margin-bottom: 0;
        color: #9DA4BD;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.6;
        letter-spacing: .02em;
    }
    
    /*---------------------About*/
    
    .about-section {
        padding-top: 100px;
        padding-bottom: 100px;
        background-color: white;
    }
    
    .about-part {
        display: flex;
        gap: 30px;
    }
    
    .about-photo {
        display: block;
    }

    .about-thumb:first-child {
        margin-bottom: 30px;
    }
    
    .about-start {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    
    .about-start .about-logo {
        font-size: 11px;
    }
    
    .about-title {
        font-size: 28px;
        line-height: 1.17;
    }
    
    .about-pre {
        font-size: 18px;
        font-weight: 400;
    }
    
    .about-main {
        margin-bottom: 77px;
    }
    
    /*-------------------------------Services and prices*/
    .services {
        padding-top: 100px;
        padding-bottom: 100px;
        padding-right: 26px;
        background-image: url("./images/tablet_images/img_services.png");
    }
    
    .services-title {
        margin-bottom: 44px;
        font-size: 42px;
        line-height: 1.16;
    }
    
    .services-list {
        width: 703px;
        padding-right: 40px;
        padding-top: 32px;
        padding-bottom: 32px;
    }
    
    .services-item::before {
        content: '';
        width: 100%;
        height: 1px;
        background: rgba(157, 164, 189, 0.12);
        flex-grow: 1;
    }
    
    .services-item p:first-child {
        order: -1;
    }
    
    .services-item {
        display: flex;
        align-items: flex-end;
        gap: 4px;
        margin-bottom: 20px;
    }
    
    .services-item p {
        flex-shrink: 0; /*stretches element to its full lenght without shrinking*/
        font-size: 18px;
        font-weight: 400;
        line-height: 1.67;
    }    
    
    
    /*------------------------------------Statistics*/
    .statistics {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    .statistics-title {
        width: 449px;
        letter-spacing: .05em;
    }

    .statistics-description {
        width: 500px;
    }
      
    .calculate {
        display: flex;
        flex-wrap: wrap;
        margin-left: 240px; 
    }    
    
    
    /*-------------------------------Barbers*/
    .barbers {
        padding-top: 100px;
        padding-bottom: 100px;       
    }

    .barber-group {
        display: flex;
        flex-direction: column;  
        align-items: center;
    }

    .barbers-about {
        display: flex;
        justify-content: left;
        margin-left: 120px;
    }

    .barbers-title {
        margin-left: 120px;
    }
   
    .barbers-images_item img {
        width: 450px;
    }
        
    .barbers-images_item {
        margin-bottom: 64px;
        margin-right: 0;
    }
    

    /*-------------------------Samples*/
    
    .samples {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    .samples-about {
        margin-bottom: 44px;
    }
        
    .samples-list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    
    .samples-list_item {
        margin-bottom: 0;
    }

    .samples-list_item img {
        width: 330px;
    }
    
    .samples-list_item:last-child {
        margin-bottom: 0;
    }
    
    
    /*Footer*/
    
    .book-part {
        padding-top: 100px;
        padding-bottom: -100px;
        background-color: #191C26;
    }

    .book-form {
        display: flex;
        flex-wrap: wrap;
    }

    .book-form_field {
        width: calc((100% - 30px) /2);
    }

    .book-form_field:first-child {
        margin-right: 30px;
    }

    .book-form_field:last-child {
        width: 690px;
    }
    
    .book-title {
        text-align: left;
    }
        
    .book-button {
        margin-left: 0;
        margin-bottom: 100px;
    }    
        
    
    .address-form {
        padding-top: 100px;
        padding-bottom: 100px;
    }    

    .address-block {
        display: flex;
    }
    
    .contact-title {
        text-align: left;
    }

    .contact-info {
        margin-right: 30px;
    }
        
    .address-item .address a{
        display: block;
        width: 290px;
        font-weight: 700;
        line-height: 1.67;
    }    
        
    .address-item:last-child {
        margin-bottom: 0;
    }
   
    
    /*Footer*/
    .footer {
        padding-top: 56px;
        padding-bottom: 56px;
    }

    .footer-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .footer-items {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 0;
    }
        
    .footer-items_copyright {
        margin-top: 0;
        margin-bottom: 0;
    }
        
}

@media screen and (min-width: 1600px) {
    .container {
        width: 1600px;
        padding-left: 215px;
        padding-right: 215px;
    }
    
}
    
    
    




